# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.env.local

# Data (trop volumineux)
data/bronze/*.parquet
data/silver/*.parquet
data/models/*.pkl
data/models/*.joblib
*.csv

# Airflow
airflow/logs/*
airflow/airflow.db
airflow/airflow-webserver.pid
logs/

# Database
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
.DS_Store
.history/

# Docker
*.log

# Tests
.coverage
htmlcov/
.pytest_cache/

# Garder les dossiers vides
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/models/.gitkeep


dataset.parquet