# Airflow DB
psycopg2-binary

Spark
pyspark

pandas
numpy
scikit-learn


sqlalchemy 

python-dotenv

pytest
fastapi 
uvicorn
httpx
pydantic
pydantic-settings
python-jose[cryptography]

